body{
  background: #0d335d;
}
.contact-clean {
  padding: 80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #0d335d;
  box-shadow: 1px 1px 20px 3px rgba(193, 161, 211, 0.404);
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  padding-left: 15px;
  color: inherit;
  height: 100%;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
  transition: all 0.3s;
}

.contact-clean form .form-control:hover {
  background-color: #e3e4e6;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form #trips {
  overflow: hidden;
  height: fit-content;
}

.contact-clean form #trips option:hover {
  background-color: #0d335d;
  color: #fff3e6;
}

.contact-clean form #trips[multiple]:focus option:checked {
  background-color: #0d335d;
  color: #fff3e6;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
  transition: all 0.3s;
}

.contact-clean form .btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background: #0d335d !important;
  border: #0d335d !important;
  margin-top: 15px;
  color: #fff;
}

.form-text.text-danger {
  display: none;
  color: red;
}

#message {
  resize: none;
}
#trip{
  height: 105px;
  overflow: auto;
}
.Req-Denied {
  padding: 50px 0;
}
.Req-Denied p{
  color: white !important;
}
.Req-Denied .intro {
  display: none;
  font-size: 36px;
  max-width: 700px;
  margin: 0 auto 25px;
}

#loaderImg{
  width: 15%;
  height: auto;
  
}

.loader{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d335d;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.disappear{
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}